   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  <body>


<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Return on Investment</h1>
  <p class="lead">Learn how much money you will make based on the time spent for the investment.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Hong Leong Bank</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Hong Leong Bank Berhad - 9.17% per annum <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>High-Risk high-reward</li>
          <li>tax free</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary">Sign up for free</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">MayBank</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Malayan Banking Berhad - 10.82 per annum <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>High-Risk high-reward</li>
          <li>tax free</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Public</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"> Public Bank Berhad - 9.87% per annum <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>High-Risk high-reward</li>
          <li>tax free</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-primary">Contact us</button>
      </div>
    </div>
  </div>

</div>
</body>
</html>
