
<style>
.jumbotron {
  background-image: url("../img/jumbotron_bg.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
}

</style>

<div class="jumbotron jumbotron-fluid img-responsive" alt="Responsive image"">
  <div class="container">
    <%= image_tag "tournament.png" %>
  </div>
</div>
