
<div class="container-fluid">
<div class="jumbotron jumbotron-lg img-responsive" alt="Responsive image">
  <div class="container">
    <%= image_tag "tournament1.png" , :width=>"1200", :height=>"500"%>
  </div>
</div>
</div>
